{% extends "social/base.html" %}

{% load static %}

{% block title_block %}
Blooooog
{% endblock %}


{% block body_block %}
    <h1>{{post.pk}} {{post.title}}</h1>
    
    {% if post.published_date %}
        {{post.published_date}}
    {% else %}
        <a href="{% url 'blog:blog_post_publish' pk=post.pk %}">Publish</a>
    {% endif%}

    {% if user.is_authenticated %}
    <a href="{% url 'blog:blog_post_edit' pk=post.pk%}">Edit</a>
    <a href="{% url 'blog:blog_post_delete' pk=post.pk%}">Remove</a>>
    {% endif %}

    <a href ="{% url 'blog:blog_post_comment' pk=post.pk%}">Add Comment</a>

    {% for comment in post.comments.all %}
        {% if comment.approved_comment %}
            {{comment}}
        {% endif %}
    {% endfor %}


{% for comment in post.comments.all %}  
    <br>
    {% if user.is_authenticated or comment.approved_comment %}
        {{comment.created_date}}
           
            {{comment.text|safe|linebreaks}} By: {{comment.author}}
            {% if not comment.approved_comment %}
            <a href="{% url 'blog:blog_comment_remove' pk=comment.pk%}">Comment Remove</a>>
            <a href="{% url 'blog:blog_comment_approve' pk=comment.pk%}">Comment Approve</a>>
        {% endif %}

    {% endif %}
    {% empty %}
    <p>No Comment Posted</p>
{% endfor %}


{% endblock %} 

<!-- 
path('', views.PostListView.as_view(), name="blog_post_list"),
path('about', views.AboutView.as_view(), name="blog_about"),
path('post/<int:pk>/', views.PostDetailView.as_view(), name="blog_post"),
path('post/new', views.PostCreateView.as_view(), name="blog_post_create"),
path('post/<int:pk>/edit', views.PostUdpdateView.as_view(), name="blog_post_update"),
path('post/<int:pk>/delete', views.PostDeleteView.as_view(), name="blog_post_delete"),
path('drafts', views.DraftListView.as_view(), name="blog_post_draft_list"),
path('post/<int:pk>/comment', views.add_comment_to_post, name="blog_post_comment"),
path('comment/<int:pk>/approve', views.comment_approve, name="blog_comment_approve"),
path('comment/<int:pk>/remove', views.comment_remove, name="blog_comment_remove"),
path('post/<int:pk>/publish', views.post_publish, name="blog_post_publish"),--> -->
